<div class="container">
  <div class="row">
    <div class="col-xs-3"></div>
    <h2 class="well well-sm col-xs-6 text-center", style="background-color: #FFFFBB;">
      新規会員登録 
      <i class="fas fa-user-plus fa-lg"></i>
    </h2>
  </div>

  <div class="row">
    <div class="col-xs-3"></div>
    <div class="well well-sm col-xs-6 text-center", style="background-color: #FFFFBB;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field", style="padding-top: 50px; color: #888888;">
          <%= f.label :ユーザー名 %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :size=>"60" %>
        </div>

        <div class="field", style="color: #888888;">
          <%= f.label :メールアドレス %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"60" %>
        </div>

        <div class="field", style="color: #888888;">
          <%= f.label :パスワード %>(6文字以上)<br/>
          <%= f.password_field :password, autocomplete: "new-password", :size=>"60" %>
        </div>

        <div class="field", style="color: #888888;">
          <%= f.label :パスワード %>(確認用)<br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"60" %>
        </div>

        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="registrations-link", style="margin-top: 20px;">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
</div>