<h2 class="text-center page-title">〜About〜</h2>

<div class="container about-box">
  <div class="row about-description">
    <div class="col-xs-12 about-text-box">
      <div class="col-xs-8">
        <h2 class="about-step">STEP1 投稿してみよう</h2>
        <div class="about-steps">
          <p class="about-text">皆さんは観光先や休日のお出かけ先に悩んだことはありませんか？</p>
          <p class="about-text">観光地に住んでいる地元の人のおすすめのグルメ情報を知りたい。</p>
          <p class="about-text">地元のお出かけ先、もう行くところないな。誰かいいスポット知らないかな。</p>
          <p class="about-text">お出かけ先のあの場所がよかった。あのお店のランチとても美味しかったよ。</p>
          <p class="about-text">
            <i class="fas fa-plus-circle fa-lg"></i>
            から投稿してみましょう。タイトル、都道府県、カテゴリーを入力して
          </p>
          <p class="about-text">思い出やおすすめスポットの共有、お出かけ前の質問に活用してみましょう。</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="about-image1"></div>
        <%= image_tag asset_path("about-logo1.png"), :size =>'150x100' %>
      </div>
    </div>

    <div class="col-xs-12 about-text-box">
      <div class="col-xs-4">
        <div class="about-image2"></div>
        <%= image_tag asset_path("about-logo2.png"), :size =>'150x100' %>
      </div>
      <div class="col-xs-8">
        <h2 class="about-step">STEP2 探してみよう</h2>
        <div class="about-steps">
          <p class="about-text">皆さんが投稿したお出かけ先の情報には様々な検索方法があります。</p>
          <p class="about-text">カテゴリー、投稿内容、ハッシュタグ、日本地図からの都道府県検索など。</p>
          <p class="about-text">お出かけ前に他の人がどんな場所をおすすめしているかを調べてみましょう。</p>
          <p class="about-text">きっとまだあなたの知らないスポットや、行きたい場所が見つかるはずです。</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 about-text-box">
      <div class="col-xs-8">
        <h2 class="about-step">STEP3 交流してみよう</h2>
        <div class="about-steps">
          <p class="about-text">この投稿の質問は私の地元だ。おすすめのお店やスポットを知っているぞ。</p>
          <p class="about-text">この人が行った旅行の投稿内容に興味があるな。もっと詳しく知りたいな。</p>
          <p class="about-text">気になる時ありますよね。コメントやチャットを通じて交流してみましょう。</p>
          <p class="about-text">もちろん投稿に対する感想でも大丈夫です。どんどん交流しましょう。</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="about-image3"></div>
        <%= image_tag asset_path("about-logo3.png"), :size =>'150x100' %>
      </div>
    </div>

    <div class="col-xs-12 about-text-box">
      <div class="col-xs-4">
        <div class="about-image4"></div>
        <%= image_tag asset_path("about-logo4.png"), :size =>'150x100' %>
      </div>
      <div class="col-xs-8">
        <h2 class="about-step">STEP4 リストを作ろう</h2>
        <div class="about-steps">
          <p class="about-text">次の旅行ではこの人の投稿のおすすめスポットに行ってみたいな。</p>
          <p class="about-text">地元にこんな場所があったんだ。今度の週末に行ってみるか。</p>
          <p class="about-text">
            投稿の
            <i class="fas fa-bookmark" aria-hidden="true" style="color: blue;"></i>
            マークをクリックでマイページの行ってみたい一覧に保存されます。
          </p>
          <p class="about-text">
            <i class="fas fa-bookmark" aria-hidden="true" style="color: blue;"></i>
            マークが多い人気投稿は、ベスト5までのランキングにも載ります。
          </p>
        </div>
      </div>
    </div>
      
    <div class="entrance">
      <h3>さっそく始めてみよう！！</h3>
      <div class="entrance-box">
        <%= link_to '新規登録', new_user_registration_path %> or
        <%= link_to 'ログイン', new_user_session_path %>
      </div>
    </div>
  </div>
</div>