<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4">
      
        <div class="box2">
          <div class="box-title">
            Category
          </div>
          <ul class="list-category">
            <% @categories.each do |category| %>
              <li>
                <%= link_to category_path(@posts, name: category.name) do %>
                  <%= category.name %>
                <% end %>
              </li>
            <% end %>
          </ul>  
        </div>
        <div class="box2">
          <div class="box-title">
            <i class="fas fa-bookmark" aria-hidden="true" style="color: blue;"></i>
            Ranking
          </div>
          <ul class="list_crown">
            <% @all_ranks.each.with_index(1) do |rank, i| %>
              <li>
                <%= link_to post_path(rank) do %>
                  第<%= i %>位<br>
                  <%= rank.title %>
                <% end %>
               </li>
            <% end %>
          </ul>
        </div>
      

        <div class="box2">
          <div class="box-title">
            Prefecture
          </div>
          <div class="prefecture-link">
            <%= link_to '日本地図検索', map_path %>
            <div class="image-japanmap"></div>
          </div>
        </div>

      </div>

      <div class="col-xs-8">
        <%= render 'posts/index' , posts: @posts %>
        <%= paginate @posts %>
      </div>

      
    </div>
  </div>
</div>

	
  



