<div class="container">
  <div class="row">
    <div class="col-xs-12">
    
      <div class="col-xs-4">
      
        <%= render 'posts/category',  categories: @categories %>

        <%= render 'posts/all_ranks',  all_ranks: @all_ranks %>
        
        <%= render partial: 'posts/prefecture_link' %>

      </div>

      <div class="col-xs-8">
        <%= render 'posts/index' , posts: @posts %>
        <%= paginate @posts %>
      </div>

    </div>
  </div>
</div>

	
  



