<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="box1">
        <div class="profile">
          <div class="profile-head">
            <h3>PROFILE</h3>
          </div>
          <table style="border:none;">
            <tr>
              <td><%= attachment_image_tag @post.user, :profile_image, :fill, 320, 250, format: 'jpg', fallback: "no_image.jpg" %></td>
            </tr>
            <tr>
              <td>
                <div class="profile-name">
                  <h4>Name</h4>
                <%= link_to user_path(@post.user) do %>
                  <i class="fas fa-user"></i>
                    <%= @post.user.name %>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="profile-introduction">
                  <h4>Introduction</h4>
                  <%= @post.user.introduction %>
                </div>
              </td>
            <tr>
            <tr>
              <td>
                <span class="follow">
                  <%= link_to follower_path(@post.user) do %>
                    <%= @post.user.follower.count %> フォロー
                  <% end %>
                </span>
                <span class="follower">
                  <%= link_to followed_path(@post.user) do %>
                    <%= @post.user.followed.count %> フォロワー
                  <% end %>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="user-favorites">
                  <%= link_to "いいね一覧", favorite_path(@post.user) %>
                </span>
                <span class="user-bookmarks">
                  <% if @post.user.id == current_user.id %>
                    <%= link_to "行ってみたい一覧", bookmark_path(@post.user) %>
                  <% end %>
                </span>
              </td>
            </tr>
          </table>

          <% if @post.user == current_user %>
            <%= link_to "編集", edit_user_path(@post.user) %>
          <% else %>
            <% unless @post.user == current_user %>
              <% if current_user.following(@post.user) %>
                <%= link_to 'フォロー外す', unfollow_path(@post.user), method: :post, class: "btn btn-primary" %>
              <% else %>
                <%= link_to 'フォローする', follow_path(@post.user), method: :post, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>

          <span class="chat-room">
            <% unless @post.user.id == current_user.id %>
              <% if @isRoom == true %>
                <span class="user-show-room">
                  <a href="/rooms/<%= @roomId %>" class="btn btn-info">
                    <i class="fas fa-envelope fa-lg"></i>
                  </a>
                </span>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user, value: @user %>
                  <% end %>
                <%= f.submit "チャットを始める", class:"btn btn-info user-show-chat"%>
                <% end %>
              <% end %>      
            <% end %>
          </span>
      
        </div>
      </div>
    </div>

    <div class="col-xs-8">
      <div class="box1">
        <div class="post">
          <div class="post-head">
            <h3>POST</h3>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="post-list">
                <%= attachment_image_tag @post.user, :profile_image, :fill, 150,100, format: 'jpg', fallback: "no_image.jpg" %>
              </div>  
            </div>

            <div class="col-xs-9">
              <div class="post-list">
                投稿者：
                <i class="fas fa-user"></i>
                <%= @post.user.name %>
              </div>
          
              <div class="post-list">
                タイトル：
                <%= @post.title %>
              </div>
          
              <div class="post-list">
                場所：
                <%= @post.prefecture %>
              </div>
          
              <div class="post-list">
                カテゴリー：
                <% @post.categories.each do |category| %>
                  <%= category.name %>
                <% end %>
              </div>
            </div>
          </div>
            
          <div class="post-text">
            <%= simple_format(@post.body.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>
            <% if @post.hashtags.any? %>
              <% @post.hashtags.each do |hashtag| %>
                <span>
                  <%= link_to hashtag_path(@post,hashname: hashtag.hashname) do %>
                    #<%= hashtag.hashname %>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </div>
          
		      <div class="post-image">
		        <% if @post.post_images.present? %>
              <% @post.post_images.each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 357, 300 %>
              <% end %>
            <% end %>
          </div>
	        
          <span class="favorite-count">
            <span class="post_<%= @post.id %>">
              <%= render 'favorites/favorite', post: @post %>
            </span>
	        </span>

          <span class="bookmark-count">
            <span class="bookmark_<%= @post.id %>">
              <%= render 'bookmarks/bookmark', post: @post %>
            </span>
          </span>
           
          <span class="comment-count">
            <%= link_to post_path(@post.id) do %>
              <i class="fa fa-comment"></i>
              <%= @post.post_comments.count %>
            <% end %>
          </span>
            
          <span class="look-count">
            <% if @post.user == current_user %>
              <i class="far fa-eye"></i>
              <%= @post.impressionist_count %>
            <% end %>
          </span>

          <span class="date">
            <i class="far fa-calendar-alt"></i>
            <%= l @post.created_at %>
          </span>
          
          <span class="comment_<%= @post.id %>">
            <%= render 'post_comments/comments', post: @post %>
          </span>

          <div class="text-right" style="margin-top: 30px;">
            <% if @post.user_id == current_user.id %>
              <%= link_to "編集", edit_post_path(@post) %>
              |
              <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に消しますか？"} %>
            <% end %>
          </div>

          <div class="text-left">
            <%= link_to "一覧へ戻る", posts_path %>
          </div>
        </div>
      </div>
  
  <!--コメント入力欄-->
      <%= render 'post_comments/form', post_comment: @post_comment, post: @post %>
    </div>
  </div>
</div>