<!DOCTYPE html>
<html>
  <head>
    <title>LOCAL INFO TOURISM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/b5fa4724ff.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    <%= render partial: 'layouts/header' %>
    
    <div class="content">
      <div class="container">
        <div class="row">
          <%= render partial: 'layouts/flash' %>
        </div>
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
    
    </div>
  </body>
</html>
